/*body, button, input, select, textarea {
    font: 12px Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
}*/
.info-list{
	width: 100%;
	height: 100%;
}
.info-list .cont .link{
	text-decoration: underline;
	width: inherit;
}
.info-list .cont{
	height: 22px;
	display: inline-block;
	width: inherit;
	text-indent: 15px;
	position: relative;
	top:-5px;
	left: 0;
	z-index: 50;
}
.info-list .cont .cont-item{
	width: 500px;
	height: 22px;
	margin:0 auto;
}
.cont-img{
	width: 500px;
	height: 150px;
	display: inline-block;
	border-radius: 10px;
	position: relative;
	left: -530px;
	margin:0 auto;
	display: none;
	padding:0;
	border: 2px solid red;
}
.info-list .cont:hover .cont-title{
	/*visibility: hidden;*/
	margin:0;
	position: relative;
	top:-154px;
}
.info-list .cont:hover .cont-time{
	/*visibility:hidden;*/
	margin:0;
	position: relative;
	top:-154px;
}
.info-list .cont:hover .link{

}
/*.info-list .cont:hover .cont-img{
	display: inline-block;
	position: relative;
	top:0;
}*/
.info-list .cont:hover .cont-img{
	z-index: 0;
	display: block;
	position: relative;
	top: 0;
}
.info-list .cont .cont-title{
	height: 100%;
	float: left;
	display: inline-block;
	width: 330px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.info-list .cont .cont-time{
	height: 100%;
	float: right;
	display: inline-block;
	position: relative;
	right: 20px;
}
.right-item .tab-name .tab-more{
	display:inline-block;
	position: relative;
	text-decoration:underline;
	left: 180px;
	font-size: 16px;
}

.info-list .cont:nth-child(4):hover .cont-img{
	margin:0 auto;
	position: relative;
	top:-30px;
}
.info-list .cont:nth-child(5):hover .cont-img{
	margin:0 auto;
	position: relative;
	top:-60px;
}
.info-list .cont:nth-child(6):hover .cont-img{
	margin:0 auto;
	position: relative;
	top:-90px;
}
.info-list .cont:nth-child(7):hover .cont-img{
	margin:0 auto;
	position: relative;
	top:-120px;
}