<div class="footer-wrap">
	<div class="footer">
		<div class="links">
			<a href="http://www.evobly.com" target="_blank" class="link">洋葱魅特</a> |
			<a href="https://www.baidu.com" target="_blank" class="link">百度</a> |
			<a href="https://www.taobao.com" target="_blank" class="link">淘宝</a> |
			<a href="https://www.zhihu.com" target="_blank" class="link">知乎</a>
		</div>
		<p class="copyright">
			Copyright © 2020  <a class="link" href="http://www.evobly.com" target="_blank" style="color:#f31100">evobly.com</a>  All Right Reserved. | <a class="link" href="http://www.beian.miit.gov.cn" target="_blank" style="color:#f31100">豫ICP备16009629号-1</a>
		</p>
	</div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>